// Define variables for your color scheme

// For example:
$pink: rgb(240, 153, 230);
$red: #C65077;
$blue: rgba(41, 115, 182, 0.9);
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1f9540;
$gray: #343434;
$light-gray: #c8c8c8;
$light-pink:  rgba(240, 153, 230, 0.25);
$light-blue:  rgba(200, 215, 229, 0.5);
