<% if booking.confirmed? %>
  <div class="card border-success mb-3" style="max-width: 18rem;">
    <div class="card-header text-success">Confirmed!</div>
    <%= render "bookings/booking_card_info", booking: booking %>
  </div>
<% elsif booking.rejected? %>
  <div class="card border-danger mb-3" style="max-width: 18rem;">
    <div class="card-header text-danger">Rejected</div>
    <%= render "bookings/booking_card_info", booking: booking %>
  </div>
<% else %>
  <div class="card border-secondary mb-3" style="max-width: 18rem;">
    <div class="card-header text-secondary">Pending...</div>
    <%= render "bookings/booking_card_info", booking: booking %>
    <% if booking.user != current_user %>
      <%= render "bookings/booking_update_form", booking: booking%>
    <% end %>
  </div>
<% end %>
