<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8 text-center">
      <h1>Buddyアップ</h1>
      <h3>Find new friends through your favorite hobbies, sports, and games...</h3>
      <form action="<%= activities_path %>" method="GET">
        <div class="input-group">
          <input class="form-control small-search-input" type="search" placeholder="Swimming, billiards, poetry..." aria-label="Search" name="query">
          <button class="btn button-link" type="submit">go!</button>
        </div>
      </form>
    </div>
  </div>
</div>
