.button-link {
  display: inline-block;
  padding: 10px 20px;
  background: linear-gradient(45deg, #47369f, #6b6ad3); /* Gradient background */
  border-radius: 20px; /* Rounded shape */
  color: white; /* Text color */
  text-decoration: none;
  // font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  transition: transform 0.2s, background 0.2s; /* Add smooth transition */
}

.button-link:hover {
  transform: scale(1.05); /* Slight scale-up on hover */
  background: linear-gradient(45deg,#6b6ad3, #47369f); /* Gradient background on hover */
}
