<div class="navbar sticky-top navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "Buddyアップ", root_path, class: "navbar-brand" %>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <button class="btn btn-danger"><%= link_to "Log in", new_user_session_path, class: "text-decoration-none text-light" %></button>
      <button class="btn btn-danger"><%= link_to "My bookings", bookings_path, class: "text-decoration-none text-light" %></button>
    </div>
  </div>
</div>
